@model ChatAura.Models.ApplicationUser

<div class="container registration">
    <h2>Register</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group width95">
            @Html.LabelFor(m => m.PhoneNumber)
            <br />
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
        </div>

        <div class="form-group width95">
            @Html.LabelFor(m => m.Password)
            <br />
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="button">Register</button>
    }
</div>
